body {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #eee;
  padding-top: 0px;
}

.pretty-li {
  padding: 0.5em;
}

.pretty-label {
  border: 3px solid black;
  padding: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-radius: 0.2em;
  display: grid;
  width: fit-content;
  grid-template-columns: minmax(auto, 2em) auto;
}

.pretty-label-header {
  width: auto;
}

.pretty-label-span {
  grid-column: 2;
  grid-row: 1;
}

label:has(> .pretty-checkbox:checked) {
  background-color: #eee;
  color: #888;
  border-color: #888;
}

.pretty-checkbox {
  appearance: none;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  grid-column: 1;
  place-content: center;
}

.pretty-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em currentColor;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.pretty-checkbox:checked::before {
  transform: scale(1);
}

#checkbox-wrapper {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  margin-top: -10px;
  margin-bottom: -10px;
  border: 1px solid #bbb;
  padding-left: 0.5em;
}
ul {
  list-style-type: none;
}
.checkbox-ul {
  padding-left: 0.6em;
}
.checkbox-ul-toplevel {
  padding-left: 0px;
}
.recursive-div {
  display: grid;
  grid-template-columns: minmax(auto, 1.5em) auto;
  grid-template-rows: minmax(auto, 3.5em) auto;
  padding-top: 0.4em;
}
.collapse-button {
  display: grid;
  grid-row: 1;
  font-size: 0.5em;
  padding: 0.5em;
  height: fit-content;
  border: 3px solid #000;
  background-color: #fff;
  border-radius: 0.2em;
  color: #000;
}
.collapse-button:hover {
  background-color: #eee;
}
.collapse-button:active {
  background-color: #bbb;
}
.pretty-li {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  padding-top: 0.3em;
}
.pretty-li:has(.pretty-label-header) {
  padding: 0px;
}
.checkbox-ul {
  grid-row: 2;
  grid-column: 2;
}
#header {
  margin: 0em;
  font-size: 2em;
  color: #846ad5;
}
